*{

 margin:0px; 
}

 .things_to_do{
 	float:left;
	width:21%;
	min-height:358px;
	background-color:#f2f5f6;
	margin-right:0.9%;
	margin-left:0.9%;
   padding:1%;
   border-width:1px;
   border-color:#9DACB2;
   border-collapse:separate;
   border-style: solid;
}
   .heading{
   	width:100%;
   	height:147px;
   	background-color: rgb(197, 211, 214);
   	margin-top: 0px;
   	margin-bottom: 50px;
   }
   .menu_bar{
      background-color: #f4f7f7;
      min-width: 768px;
      min-height:47px;
      padding-top:0px;
      
   }
   .title{
      height:33px;
      width: 287.25px;
      margin-bottom: 15px;
      font-size: 30px;
      font-family: sans-serif;
   font-weight: 100;
   color:#4c666e;
   }
   .add_new
   {
      float:left;
      width:75%;
      height:27px;
      background-color: white;
      border-color:#c6d3d9;
      border-style: solid;
      border-width: 1px;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      font-size: 15px;
      padding-top: 8px;
      padding-left:4%;
      color:#B6B6B6;
      font-family: sans-serif;

   }
   .heading
   {
      border-color:#9DACB2;
      border-style: solid;
      border-width: 1px;
   }

   .plus_sign
   {
      float:left;
      width:19%;
      height:29px;
      background-color:#f6f8f9;
      border-color:#c6d3d9;
      border-style: solid;
      border-width: 1px;
      font-size:20px;
      text-align: center;
      padding-top: 6px;
      font-weight: 800;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      color:#4c666e;
   }

   .left_box
   {
      float:left;
      width:32%;
      height:21px;
      background-color:#f6f8f9;
      border-color:#c6d3d9;
      border-style: solid;
      border-width: 1px;
      font-size:15px;
      text-align: center;
      padding-top: 5px;
      font-weight: 400;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      color:#4c666e;
      margin-top:21px;
      margin-bottom: 14px;
      font-family: sans-serif;
   }

.middle_box
   {
      float:left;
      width:32%;
      height:21px;
      background-color:#f6f8f9;
      border-color:#c6d3d9;
      border-style: solid;
      border-width: 1px;
      font-size:15px;
      text-align: center;
      padding-top: 5px;
      font-weight: 400;
      color:#4c666e;
      margin-top:21px;
      margin-bottom: 14px;
      font-family: sans-serif;
   }
   .right_box
   {
      float:left;
      width:32%;
      height:21px;
      background-color:#f6f8f9;
      border-color:#c6d3d9;
      border-style: solid;
      border-width: 1px;
      font-size:15px;
      text-align: center;
      padding-top: 5px;
      font-weight: 400;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      color:#4c666e;
      margin-top:21px;
      margin-bottom: 14px;
      font-family: sans-serif;
   }

   .list_box
   {
      width:100%;
      min-height:100px;
      float:left;
   }

   .box_2
   {
      float:left;
      width:49%;
      height:21px;
      background-color:#f6f8f9;
      border-color:#c6d3d9;
      border-style: solid;
      border-width: 1px;
      font-size:15px;
      text-align: center;
      padding-top: 5px;
      font-weight: 400;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      color:#4c666e;
      margin-top:21px;
      margin-bottom: 14px;
      font-family: sans-serif;
   }

   .box_1
   {
      float:left;
      width:49%;
      height:21px;
      background-color:#f6f8f9;
      border-color:#c6d3d9;
      border-style: solid;
      border-width: 1px;
      font-size:15px;
      text-align: center;
      padding-top: 5px;
      font-weight: 400;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      color:#4c666e;
      margin-top:21px;
      margin-bottom: 14px;
      font-family: sans-serif;
   }

   .right_box_2
   {
      float:left;
      width:64%;
      height:21px;
      background-color:#f6f8f9;
      border-color:#c6d3d9;
      border-style: solid;
      border-width: 1px;
      font-size:15px;
      text-align: center;
      padding-top: 5px;
      font-weight: 400;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      color:#4c666e;
      margin-top:21px;
      margin-bottom: 14px;
      font-family: sans-serif;
   }

   .avatar_box
   {
      float:left;
      height:107px;
      background-color:#dae3e5;
      width:100px;
      padding-left: 40px;
      padding-top:40px;
   }
   .life_health
   {
      float:left;
      height:97px;
      background-color:#cfdbde;
      width:53%;
      padding-top:50px;
      padding-left:2%;
   
   }

   .white_bar
   {
      height:23px;
      width:91%;
      background-color:white;
      border-color:#9DACB2;
      border-style: solid;
      border-width: 1px;
      margin-bottom: 12px;
      float:left;
      text-align:right;
      padding-right:1%;
      line-height: 25px;
      font-family: sans-serif;
      font-weight:400;
      font-size: 14px;
   }

   .health_bar
   {
      height:21px;
      width:73%;
      border-width:1px;
      background-color:#da5353;
      border-style:solid;
      border-color:white;
      float:left;

   }

   .experience_bar
   {
      height:21px;
      width:50%;
      border-width:1px;
      background-color:#ffcc35;
      border-style:solid;
      border-color:white;
      float:left;
   }

   .indicators
   {
      float:left;
      height:21px;
      width:27px;
      background-color: white;
      border-color:#9DACB2;
      border-style: solid;
      border-width: 1px;
      padding:1px;
      margin-right:5px;
   }

   .options
   {
      float:left;
      min-width:20px;
      height:20px;
      background-color:#f6f8f9;
      border-color:#c6d3d9;
      border-style: solid;
      border-width: 1px;
      font-size:14px;
      text-align: center;
      padding-top: 3.5px;
      font-weight: 400;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      color:rgb(62, 85, 85);
      margin-top:7px;
      padding-left: 7px;
      font-family: sans-serif;
      margin-left: 8.652px;
      padding-right:7px;
      padding-bottom:3.5px;


   }